body
{
    font-family:Arial;
    font-size:1em;
    border:solid 2px #888;
    border-radius:2px;
}

h1
{
    text-align:center;    border-bottom:solid 0.1px #333;
    background-color:#888;color:white;border-radius:1px;
}

ul
{
    margin:2px;
    padding:2px;
  }
  li
  {
      list-style-type:none;
      padding:5px;
      cursor:pointer;
      border:dotted 1px Teal;
      margin:2px;
      color:Black;
      font-weight:bold;
color:#868787;      
margin-bottom:5px
    }
    
    .expand
    {
        padding:5px;font-weight:bold;
        color:WHite;
        font-size:1.6em;
        COLOR:#84C63C 
        }
        
    .expand [isloading="true"]{
    background:url(loader.gif);
    }
    
    #TreeViewContainer
    {
        float:left;
        overflow:hidden;
        width:100%;
        }    
